*{
	/* Resetting the default styles of the page */
	margin:0;
	padding:0;
}
body{
	/* Setting default text color, background and a font stack */
	
	color:#eee;
	background:url("img/website-background.jpg") repeat-x #222222; background-repeat: repeat-y;
	
}
.absolute{
	position: fixed;
	right: 0px; top: 0px; left: 0px; z-index: +1;
}


.heading{
	font-size:4em;
	font-family:Arial, Helvetica, sans-serif;
	 
	background-color:#800000;	
	position: fixed; right: 0px; left: 0px; z-index: +1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D13939;
	
}

li {
    float: right; font-size:1.5em;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
	
}

li a:hover {
    background-color:  #FE0808;
}
#outofstock{
	color:	#121212;
	position: fixed;
	right: 0px; top: 300px; left: 350px; z-index: +1;
	 text-shadow: 3px 2px white;
	 font-size: 40px;
}
.search{
	width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search:focus {
    width: 100%;
}